:root{
    --color-principal:#96bb7c;
    --espacio-h1:2rem;
    --espacio-largo:15rem;
    --espacio-login:1rem;
    --espacio-join:6rem;
}
*{
    margin: 1rem;
    padding: 0px;
}
.vi-principal{
    background-color: #DDF4FF;


} 
.cabeza{
    display: flex;
    margin:20px auto;
}
.titulo{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 4.5rem;
    margin-top: 25px;
    margin-right: var(--espacio-h1);
}
.largo {
    font-size: 8px;
    border:2px solid transparent;
    margin-right: var(--espacio-largo);
    color: rgb(10, 9, 9);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    

}
.login {

    margin-right: var(--espacio-login);
    color:var(--color-principal);
    font-size: 10px;
    background-color: transparent;

}
.join {
    margin-right: var(--espacio-join);
    background-color: var(--color-principal);
    color: white;
    font-size: 11px;
    padding: 1px 15px ;
    text-align: auto;
    
}
button{
    border: 2px solid transparent;
    border-radius: 5px;
}



